@@@@spaceinfo
INDIR/*/*cluster_umap.p*	OUTDIR/upload/Space/	link	0
@@@@Integrate
INDIR/*/*predictions.xls	OUTDIR/upload/Integrate/	link	0
INDIR/*/*Spot_cell_count.xls	OUTDIR/upload/Integrate/	link	0
INDIR/*/*SpatialDimPlot.p*	OUTDIR/upload/Integrate/	link	0
INDIR/*/*SpatialDimPlot_Pit1_eachcell.p*	OUTDIR/upload/Integrate/	link	0
INDIR/*/*celltype_count_space_cluster.xls	OUTDIR/upload/Integrate/	link	0
INDIR/*/*heatmap_cluster.p*	OUTDIR/upload/Integrate/	link	0
INDIR/*/*predicted.id_umap1.p*	OUTDIR/upload/Integrate/	link	0
BIN/readme.doc	OUTDIR/upload/	copy	0
@@@@appendix

