@@@@spaceinfo
INDIR/*/*space_umap.p*	OUTDIR/upload/Space/	link	2
@@@@MIA
INDIR/*/*_space_anno_umap.p*	OUTDIR/upload/MIA/	link	2
INDIR/*/*_region_celltype.xls	OUTDIR/upload/MIA/	link	2
INDIR/*/*_MIA.p*	OUTDIR/upload/MIA/	link	2
INDIR/*/*_mia_result.xls	OUTDIR/upload/MIA/	link	2
INDIR/*/*_region_celltype_gene.xls	OUTDIR/upload/MIA/	link	2
INDIR/*/*_SpatialDimPlot_Pit1_eachcell.p*	OUTDIR/upload/MIA/	link	2
INDIR/*/*pheatmap.p*	OUTDIR/upload/MIA/	link	2
INDIR/*/*top3_gene_FeaturePlot.p*	OUTDIR/upload/MIA/	link	2
BIN/readme.doc	OUTDIR/upload/	copy	0
@@@@appendix
